body {
  height: 3500px; /* To create scrollable content */
  background-color: black;
  color: white;
  font-family: IBM Plex Mono, "Courier New", Courier, monospace;
}
.container {
  padding: 80px 140px;
}
.gallery {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  zoom: 85%;
}
.gallery img {
  width: 200px;
  border: 2px solid transparent;
}
.gallery video {
  height: 150px;
  border: 5px solid transparent;
  position: absolute;
  filter: brightness(0.8);
  transform: scale(0.95);
  transition: transform 0.1s ease;
}
.gallery video.active-video {
  /* border-color: rgba(255, 255, 255, 0.3); */
  opacity: 1;
  transform: scale(1);
  filter: brightness(1);
  /* transition: transform 0.2s ease; */
}
.gallery img.active {
  border-color: red;
}
.cover {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: 1s ease;
}
.cover p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
